html{
    width:100%;
    background:rgb(33,33,33);
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    box-sizing: border-box;
    
    font-family: 'Cormorant Garamond', "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}



header{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: auto;
    color:white;
    align-items: center;
    width:100%;
    height:120px;
    z-index:3333;
    background:rgb(33,33,33);
    position:fixed;
    top:0;
    left:0;
  
}

h1{
    position:fixed;
    top:50px;
    left:240px;
    font-size:30px;
    margin-right:10px;
    line-height:10px;
    z-index:8888;
}

h2{
    position:fixed;
    top:60px;
    left:425px;
    font-size:16px;
}

.logo{

    z-index:8888;
    width:200px;
    position:fixed;
    left:10px;
    top:15px;
    filter:drop-shadow(1px 1px 1px black);
}

.line{
    position: fixed;
    top: 110px; left: 0;
    width: 100%; height: 1px;
    display: block;
    background: rgb(200, 0, 90);
    z-index:5555;
}

.line2{
    position: fixed;
    top: 0; left: 15px;
    width: 1px; height: 100%;
    display: block;
    background: rgb(200, 0, 90);
    z-index:5555;
}

.nav{
    display:none;
}
.main{
    position:fixed;
    top:100px;
    width:100%;
    display:flex;
    flex-direction: row;
    padding:0;
    position:relative;
}

.system{
    display:flex;
    position:relative;
    top:10px;
    flex-direction:column;
    margin:auto;
    width:100% !important;
    height:auto;
    text-align:center;
    background:rgb(50,50,50);
    font-family: 
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    sans-serif;
    padding:5px;
    border-radius:5px;
    margin-bottom:50px;
    
    
}
.system h3{
    font-size:22px;
    margin:0;
    padding:0;
    color:white;
    font-weight:400;
    letter-spacing:10px;
    margin:10px;
    font-family: 'Cormorant Garamond', "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    text-shadow: 1px 1px 1px black;
}
.playwrap{
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    width:95% !important;
    height:auto;
    /* background:yellow; */
    padding:5px;
}
.play{
    width:48% !important;
    height:auto;
    background:rgb(145,145,145);
    padding:5px;
    box-sizing: border-box;
    margin-bottom:20px;
}

.play h4{
    font-size:18px;
    font-weight:200;
    color:white;
    background:rgb(200, 0, 90);
    line-height: 26px;
    letter-spacing: 5px;
    margin-top:0;
    margin-bottom:5px;
}

.play p{
    font-size:14px;
}

.play img{
    width:100%;
    height:auto;
    object-fit:cover;
}

.play01 img{
    object-position:0 0;
}
.play02 img{
    object-position:0 -20px;
}
.play03 img{
    object-position:0 0;
}

.play04 img{
    object-position:0 0;
}





label{
    position:relative;
    margin:0 auto; /*ハンバーガーをセンターにしました*/
    left:-2px;
    top:-3px;
    margin-bottom:0;
}
  
  
  
.mobilearea{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:28px;
    right:0px;
    margin:5px auto;
    width:85px;
    height:85px;
    padding:0;
    z-index:8888;
}
  
input[type="checkbox"]{
    position:absolute;
    right:-100px;
    background-color: brown;
    display:block;
}
  
input[type="checkbox"]:checked ~ .mobile_menu{
    right:-1px;
}
  
.mobilearea h5{
    display:inline-block;
    position:absolute;
    top:10px;
    right:-15px;
    width:100%;
    color:rgb(200,0,90);
    font-size:18px;
}
.open{
    display:block;
    width: 75px;
    height:130px;
    margin:0 auto 0px;
}
.open img{
    width:65px;
    height:40px;
    position:absolute;
    top:0;
    right:0;
    display:block;
    margin:0 auto 0px;
}
input[type="checkbox"]:checked ~ .open img{
    opacity:0;
}
  
  
input[type="checkbox"]:checked ~ .back{
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    z-index:450;
    background:rgba(0,0,0,0.6);
}
  
  
  
.close {
    display:block;
    color:rgb(200,0,90);
    font-size:110px;
    line-height: 65px;
    margin:5px auto 5px;
    font-weight: lighter;
    margin-bottom:20px;
    text-align:center;
}
  
  
  
.mobile_menu{
    display:block;
    position:fixed;
    top:0px;
    right:-230px;
    width:220px;
    height:600px;
    background:rgba(33,33,33, 0.7);
    z-index:8888;
    border-radius:3px;
    padding:3px;
    text-align:left;
    border-top:none;
    transition:all 0.3s;
}

.mobiletitle{
    position:relative;
    top:20px;
    left:10px;
    display:inline-block;
    line-height: 55px;
    width:200px;
    text-decoration: none;
    font-size:26px;
    color:white;
    text-align:left;
}

.mobilelink{
    position:relative;
    top:40px;
    left:10px;
    display:inline-block;
    line-height:45px;
    width:140px;
    height:auto;
}

.mobilelink img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    margin:6px 0;
}

.mobilesmall{
    position: absolute;
    right: 3px;
    font-size: 14px;
    text-align: right;
}



footer{
    width:100%;
    height:35px;
    background-color:rgb(200, 0, 90);
    position:fixed;
    bottom:0;
    left:0;
    box-sizing: border-box;

    z-index:6666;
}


footer p{
    color:white;
    line-height:10px;
    align-items: center;
    margin-bottom:5px;
    text-align:center;
}
